<%= flash[:success] %>

<h1 class = "container">
  <div class = "row">
    <div class ="px-3 mx-auto">
    Welcome to 
    <i class = "fas fa-book">
    </i>
    <storong>
    Bookers
    </storong>
    !!
    </div>
  </div>
</h1>
